<style type="text/css">

</style>

<main>
  <section class="container mx-auto flex lg:w-7/12 w-full">
    <div class="px-6 pt-20">
      <div class="text-6xl font-medium mb-2"><span class="text-red-600">Hi,</span> I'm <br> Anthony Francis.</div>
      <div class="text-4xl font-light mb-2 italic mt-8">I'm an Entrepreneur and Aspiring <br> Product Manager</div>
    </div>
    <div class="px-6 pt-32">
      <div class="relative mx-auto h-48 w-48 -my-12 rounded-full overflow-hidden hidden md:block">
        <%= image_tag("profile.jpg", :class =>"object-cover w-full h-full") %>
      </div>
    </div>
  </section>
  <section class="container mx-auto flex lg:w-7/12 w-full">
    <div class="px-6 mt-2">
      <div class="text-2xl font-medium mb-2">I also sell products on <a class="text-red-600 underline" href="/products">Amazon</a>, <a class="text-red-600 underline" href="/blog">blog</a> and <a class="text-red-600 underline" href="/projects">code</a>. You can read <a class="text-red-600 underline" href="/aboutme">more about me here</a>, or follow me on <a class="text-red-600 underline" href="http://twitter.com/_anthonyfrancis">Twitter</a>, <a class="text-red-600 underline" href="https://www.facebook.com/Anthony.N.Francis">Facebook</a>, or <a class="text-red-600 underline" href="https://www.linkedin.com/in/anthonynfrancis/">Linkedin</a>.</div>
      <div class="text-4xl font-light mb-2 italic mt-8"><a class="text-red-600 underline" href="mailto:anthony@anthonyfrancis.co">Contact me</a> or <a class="text-red-600 underline" href="https://calendly.com/_anthonyfrancis">schedule a call</a>.</div>
    </div>
  </section>
</main>
