<div class="px-6 mt-5 container mx-auto lg:w-7/12 w-full divide-y divide-gray-300">
	<div class="header text-center">
	    <h2 class="text-3xl">Products</h2>
	    <h4 class="text-xl">Products I sell on Amazon</h4>
	    <hr>
	</div>

	<section class="pb-14 mt-8">
        <div class="container mx-auto">
            <div class="flex grid items-center justify-center grid-cols-4 grid-cols-6 gap-y-8">

                <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                  <div>
                      <div class="flex items-center justify-center rounded-full">
                        <%= image_tag("back.jpg", :class =>"object-contain h-60 rounded-md") %>
                      </div>
                  </div>


                  <div class="ml-2 mt-0.5 mr-5">
                    <span class="block text-base font-medium leading-snug text-black dark:text-gray-100">Back Posture Corrector for Men and Women</span>
                    <span class="block text-sm font-light leading-snug text-gray-500 dark:text-gray-400">Backbone</span>
                    <a href="https://amzn.to/2rzWcdb" target="_blank">
						<button type="button" class="bg-gray-400 focus:outline-none hover:bg-gray-500 text-white py-1 mt-2 px-4 rounded">Buy Now</button>
					</a>
                  </div>
                </div>

                <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                  <div>
                      <div class="flex items-center justify-center rounded-full">
                        <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg", :class =>"object-contain h-60 rounded-md") %>
                      </div>
                  </div>


                  <div class="ml-2 mt-0.5 mr-5">
                    <span class="block text-base font-medium leading-snug text-black dark:text-gray-100">Magnetic Nylon Braided Android USB Cable</span>
                    <span class="block text-sm font-light leading-snug text-gray-500 dark:text-gray-400">Anthony Roberts</span>
                    <a href="https://www.amazon.co.uk/dp/B06XW37TXW" target="_blank">
						<button type="button" class="bg-gray-400 focus:outline-none  hover:bg-gray-500 text-white py-1 mt-2 px-4 rounded">Buy Now</button>
					</a>
                  </div>
                </div>


                <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                  <div>
                      <div class="flex items-center justify-center rounded-full">
                        <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/61EwehLbrSL._SX679_.jpg", :class =>"object-contain h-60 rounded-md") %>
                      </div>
                  </div>


                  <div class="ml-2 mt-0.5 mr-5">
                    <span class="block text-base font-medium leading-snug text-black dark:text-gray-100">Apple AirPods Protective Sticker Skin Cover</span>
                    <span class="block text-sm font-light leading-snug text-gray-500 dark:text-gray-400">Anthony Roberts</span>
                    <a href="https://www.amazon.co.uk/dp/B0777JJQDR" target="_blank">
						<button type="button" class="bg-gray-400 focus:outline-none hover:bg-gray-500 text-white py-1 mt-2 px-4 rounded">Buy Now</button>
					</a>
                  </div>
                </div>


               <!--  <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
                  <div>
                      <div class="flex items-center justify-center rounded-full h-14 w-14">
                        <img src="/assets/elements/winners.jpg" class="block object-contain h-12 rounded-md">
                      </div>
                  </div>


                  <div class="ml-2 mt-0.5">
                    <span class="block text-base font-medium leading-snug text-black dark:text-gray-100">The Winners Club</span>
                    <span class="block text-sm font-light leading-snug text-gray-500 dark:text-gray-400">11k+ followers</span>
                  </div>
                </div> -->
            </div>
        </div>
    </section>
</div>