<div class="px-6 mt-5 container mx-auto lg:w-7/12 w-full divide-y divide-gray-300">
	<div class="header text-center">
	    <h2 class="text-3xl">Projects</h2>
	    <h4 class="text-xl">Businesses and projects I have worked and working on</h4>
	    <hr>
	</div>
	<div class="mt-8">
		<br>
		<br>
		<a href="https://www.pollapp.cc/">
			<h2 class="text-3xl text-red-600">Poll App</h2>
		</a>
		<p>Simpler audience and polling tools for better event engagement | Poll App</p>
	 	<br>
	 	<br>
		<a href="https://www.diasporaconnect.cc/">
			<h2 class="text-3xl text-red-600">DiasporaConnect</h2>
		</a>
		<p>A place where people of african, african american & caribbean heritage find black investors.</p>
	 	<br>
	 	<br>
	 	<u><p>Dead Projects</p></u>
	 	<br>
		<a href="https://www.producthunt.com/posts/eventninja">
			<h2 class="text-3xl text-red-600">EventNinja</h2>
		</a>
		<p>EventNinja was the leading analytics solution for Eventbrite.</p>
	 	<br>
	</div>
</div>
</div>